.cm-rounded {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-color {
    background-color: rgb(110, 184, 114);
}

.center {
    display: flex;
    justify-content: center;
}

.ticket {
    transition: 0.5s;
    cursor: pointer;
    user-select: none;
}

.ticket:hover {
    transform: scale(1.05)
}

.cursor-pointer {
    cursor: pointer;
}

.table-selected {
    border: 5px solid green !important;
    padding: 20px !important; 
}

.main-table {
    user-select: none;
}